.page {
    margin: 1em;
    max-width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    background: #303090;
    text-align: right;
    text-align-last: left;
    width: 100%;
    width: 100%;

}